<% provide(:title, 'List a Book') %>
<div class="row">

<div class="container" style="text-align: center; border-bottom: 1px dashed #dcdcdc;">
    <%= render 'shared/tagline' %>   
</div>

    <%#= render 'shared/sidenav' %>      

    <%#<div style="text-align: right">Filter</div>%>
    
      <div class="col-md-8 col-md-offset-2 awesome-gray"><br>
      	<div class="row">
      		<div class="thumbnail" style="padding: 30px;">
      		<h3>Add a new book!</h3>
      		<%= render 'form' %>   
      		</div>
      	</div>
     </div>
</div>


<%#= link_to 'Back', books_path %>
